@tailwind base;

@tailwind components;

@tailwind utilities;

.container.auto {
  padding-left: 5vw;
  padding-right: 5vw;
  margin-left: auto;
  margin-right: auto;
}
@font-face {
  font-family: "SF Pro";
  font-style: normal;
  src: url("/fonts/SF-Pro-Display-Bold.otf");
}
@font-face {
  font-family: "Gumzilla";
  font-style: normal;
  src: url("/fonts/Gumzilla.ttf");
}
@font-face {
  font-family: "Gumzilla Shiny";
  font-style: normal;
  src: url("/fonts/Gumzilla-Shiny.ttf");
}
@font-face {
  font-family: "Gumzilla Slimy";
  font-style: normal;
  src: url("/fonts/Gumzilla-Slimy.ttf");
}
@font-face {
  font-family: "Strippy";
  font-style: normal;
  src: url("/fonts/Strippy-Regular.ttf");
}
@font-face {
  font-family: "Thunderstorm";
  font-style: normal;
  src: url("/fonts/Thunderstorm.ttf");
}
@font-face {
  font-family: "Chalky Fingers";
  font-style: normal;
  src: url("/fonts/ChalkyFingers.ttf");
}
@font-face {
  font-family: "Planina";
  font-style: normal;
  src: url("/fonts/Planina-Regular.ttf");
}
